from urllib import request
from flask import Flask, jsonify, request, session
from flask_cors import CORS
from db_connector import products_col, customers_col, orders_col
from werkzeug.security import generate_password_hash
from werkzeug.security import check_password_hash
import logging
import re
import os
import pymongo
from dotenv import load_dotenv
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
